@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');

:root{
    --primary-one: #ffffff;
    --primary-two: #333;
    --primary-three: black;
    --primary-four: #CEE5F2;
    --primary-five: #2B50AA;
    --primary-six: #F2F4F3;
    --primary-seven: #DDDDDD;
    --primary-eigth: #373F51;
}


footer{
    height: 40vh;
    width: 100vw;
    background-color: var(--primary-six);
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i{
    padding: 2rem;
}